* {
    margin: 0;
    padding: 0;
}

.full {
    background-image: url(".//img/hero-bg.jpg");
    height: 100%;
}

.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    text-transform: capitalize;
}

.one:hover {
    color: orange;
}

.two:hover {
    color: orange;
}

.three:hover {
    color: orange;
}

.four:hover {
    color: orange;
}

.material-symbols-outlined:hover {
    color: orange;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 1.5rem;
}

@font-face {
    font-family: 'Ovsyanka Press';
    src: url("./font/Ovsyanka-press.ttf") format('truetype');
}

.main {
    position: relative;
    color: white;
    font-family: 'Ovsyanka Press', sans-serif;
    text-transform: capitalize;
}

.p1 {
    font-size: 70px;
}

.p2 {
    font-size: 20px;
    letter-spacing: 5px;
}


.line-colour {
    color: orange;
}
.btn {
    background-color: orange;
    color: black;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.p3 {
    font-family: 'Ovsyanka Press', sans-serif;
    text-transform: capitalize;
    color: orange;
    font-size: 50px;
}

.main {
    margin-left: 70px;
    margin-top: 100px;
}

.mainn {
    display: flex;
    gap: 6rem;
}

.rotate {
    position: absolute;
    right: 70px;
}


.p1,
.p2 {
    margin-bottom: 30px;
}
.sec3 {
    margin-left: 80px;
    padding-bottom: 115px;
    height: 100%;
}

@keyframes swipeIn {
    0% {
        transform: translate(-100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

.p1,
.p2,
.p3 {
    opacity: 0;
    animation: swipeIn 2s ease-in-out forwards;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.img {
    animation: upAndDown 2.5s ease-in-out infinite;
}
@media (max-width: 768px) {
    .navbar {
        padding: 25px;
    }
    .p1,
    .p2,
    .p3 {
        font-size: 40px;
        margin-right: 60px;
    }
    .p3 {
        margin-top: 20px;
        text-align: center;
        font-size: large;
    }
    .btn {
        padding: 7px;
    }
    .img-icon {
        width: 40%;
    }
    .list {
        display: none;
    }
    .main {
        margin-top: 40px;
    }
    .rotate {
        position: absolute;
        left: 220px;
        width: 80px;
    }
}